<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/user/IdeaProjects/My-Github/AutomationExerciseTCs">
        <classes>
            <class name="Tests.ReagisterAndLogin"/>
            <class name="Tests.AddProductsInCart"/>
            <class name="Tests.RegisterWhileCheckout"/>
        </classes>
    </test>
</suite>
